<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">

<style>

    .registerBtn{
        display: flex;
        justify-content: space-between;
    }

</style>

<div layout:fragment="content">

    <div class="row mt-3">
        <form action="/board/list" method="get">
            <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="">---</option>
                            <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                            <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                            <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                            <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목+내용</option>
                            <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목+내용+작성자</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">검색</button>
                        <button class="btn btn-outline-secondary clearBtn" type="button">초기화</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr >
                            <th scope="col">게시글</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <th scope="row">[[${dto.bno}]]</th>
                            <td>[[${dto.title}]]</td>
                            <td>[[${dto.writer}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">

                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                    <a th:class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">다음</a>
                            </li>
                            <div class="text-end">
                                <butten class="btn btn-outline-dark registerBtn">작성</butten>
                            </div>
                        </ul>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>게시글이 성공적으로 등록되었습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".pagination").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        const target = e.target
        if (target.tagName !== 'A'){
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit();
    }, false)

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location='/board/list'
    },false)

    document.querySelector(".registerBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location='/board/register'
    })

    const result = [[${result}]]

    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if (result){
        modal.show()
    }

</script>

